html {
  --bg: #fbf9ff;
  --purple: #663bb1;
  --light-purple: #cdb1ff;
  --medium-purple: #523388;
  --dark-purple: #2b1256;
  --darker-purple: #30145f;
  --pink-purple: #e1b9f2;
  --color: white;
}

html[data-theme='dark'] {
  --bg: #160a2c;
  --purple: #ffffff;
  --light-purple: #250858;
  --medium-purple: #ffffff;
  --dark-purple: #0e0124;
  --darker-purple: #130131;
  --pink-purple: #0b0418;
  --color: #663bb1;
}

body {
  margin: 0;
  font-family: 'arial', sans-serif;
  background: var(--bg);
}

#logo {
  font-size: 2em;
  margin: 0;
  padding: 10px;
  background: var(--purple);
  color: var(--color);
}

#logo:hover {
  cursor: pointer;
  background: var(--color);
  color: var(--purple);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--msg1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--msg2);
}

#login-form {
  width: 300px;
  margin: 200px auto;
  padding: 20px;
  background: var(--purple);
  color: var(--color);
  border-radius: 5px;
  -webkit-box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
          box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
}

#login-form h1 {
  font-size: 1.5em;
  margin: 5px 0 15px 0;
  padding: 5px 0;
  border-bottom: 1px solid #adadad;
}

#login-form label {
  margin: 10px 0;
}

#login-form input {
  margin: 10px 0;
  padding: 6px;
  width: 95%;
  border-radius: 5px;
  border: 1px solid #adadad;
}

#login-form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background: var(--dark-purple);
  color: var(--color);
  border-radius: 2px;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
          box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
}

#login-form button:hover {
  background: var(--color);
  color: var(--purple);
}

#app {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 4fr 0.2fr;
      grid-template-rows: 4fr 0.2fr;
}

#users-toggle {
  display: none;
}

.users {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  background: var(--light-purple);
  color: var(--color);
  overflow-y: scroll;
}

.users h2 {
  padding: 0 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  color: var(--purple);
}

.users #users-list {
  list-style-type: none;
  padding: 10px 0;
}

.users #users-list li {
  padding: 10px 20px;
  background: var(--dark-purple);
  color: white;
}

.users #users-list li:hover {
  background: var(--darker-purple);
}

#leave {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

#leave button {
  width: 100%;
  background: var(--purple);
  color: var(--color);
  border: none;
  padding: 10px 0;
}

#leave button:hover {
  background: var(--color);
  color: var(--purple);
}

#msg-container {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  overflow-y: scroll;
  background: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

#msg-container .message {
  font-size: 0.8em;
  margin: 2px 0;
  max-width: 65%;
  color: var(--color);
  padding: 1px 10px;
  word-wrap: break-word;
}

#msg-container .message .sender {
  font-weight: bold;
}

#msg-container .message span {
  font-weight: normal;
}

#msg-container .message.left {
  margin-left: 5%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: var(--light-purple);
  color: var(--medium-purple);
  border-left: 5px solid var(--medium-purple);
}

#msg-container .message.right {
  margin-right: 5%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: var(--medium-purple);
  color: var(--light-purple);
  border-right: 5px solid var(--light-purple);
}

#msg-container .message.center {
  font-size: 0.7em;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  background: var(--dark-purple);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#msg-container .message.center .text {
  padding-left: 5px;
}

#msg-input {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#msg-input input {
  background: var(--pink-purple);
  color: var(--purple);
  border: none;
  padding: 10px;
  width: 90%;
}

#msg-input button {
  width: 8%;
  background: var(--purple);
  color: var(--color);
  border: none;
  padding: 10px;
}

#msg-input button:hover {
  background: var(--color);
  color: var(--purple);
  cursor: pointer;
}

@media only screen and (max-width: 790px) {
  #app {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 4fr 0.2fr;
        grid-template-rows: 4fr 0.2fr;
  }
  #users-toggle {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  #users-toggle button {
    width: 100%;
    background: var(--dark-purple);
    color: var(--color);
    border: none;
    padding: 10px;
  }
  .users {
    z-index: 0;
    display: none;
    position: absolute;
    top: 30px;
    width: calc(100%);
    height: calc(100% - 70px);
    text-align: center;
  }
  #leave {
    display: none;
    position: relative;
  }
  #msg-container {
    margin-top: 25px;
    padding: 10px;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  #msg-input {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  #msg-input input {
    width: 80%;
  }
  #msg-input button {
    width: 20%;
  }
}
/*# sourceMappingURL=main.css.map */