html {
	--bg: #fbf9ff;
	--purple: #663bb1;
	--light-purple: #cdb1ff;
	--medium-purple: #523388;
	--dark-purple: #2b1256;
	--darker-purple: #30145f;
	--pink-purple: #e1b9f2;
	--color: white;
}

html[data-theme='dark'] {
	--bg: #160a2c;
	--purple: #ffffff;
	--light-purple: #250858;
	--medium-purple: #ffffff;
	--dark-purple: #0e0124;
	--darker-purple: #130131;
	--pink-purple: #0b0418;
	--color: #663bb1;
}

body {
	margin: 0;
	font-family: 'arial', sans-serif;
	background: var(--bg);
}

#logo {
	font-size: 2em;
	margin: 0;
	padding: 10px;
	background: var(--purple);
	color: var(--color);
}

#logo:hover {
	cursor: pointer;
	background: var(--color);
	color: var(--purple);
}

// Custom Scrollbar

/* width */
::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--msg1);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--msg2);
}

// Form

#login-form {
	width: 300px;
	margin: 200px auto;
	padding: 20px;
	background: var(--purple);
	color: var(--color);
	border-radius: 5px;
	box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
	h1 {
		font-size: 1.5em;
		margin: 5px 0 15px 0;
		padding: 5px 0;
		border-bottom: 1px solid rgb(173, 173, 173);
	}
	label {
		margin: 10px 0;
	}
	input {
		margin: 10px 0;
		padding: 6px;
		width: 95%;
		border-radius: 5px;
		border: 1px solid rgb(173, 173, 173);
	}
	button {
		width: 100%;
		margin: 10px 0;
		padding: 10px;
		background: var(--dark-purple);
		color: var(--color);
		border-radius: 2px;
		border: none;
		border-radius: 5px;
		box-shadow: 0.6px 1px 7px 1px rgba(11, 20, 49, 0.507);
	}
	button:hover {
		background: var(--color);
		color: var(--purple);
	}
}

#app {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 4fr 0.2fr;
}

#users-toggle {
	display: none;
}

.users {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	background: var(--light-purple);
	color: var(--color);
	overflow-y: scroll;
	h2 {
		padding: 0 10px;
		padding-bottom: 10px;
		font-size: 1.5em;
		color: var(--purple);
	}
	#users-list {
		list-style-type: none;
		padding: 10px 0;
		li {
			padding: 10px 20px;
			background: var(--dark-purple);
			color: white;
		}
		li:hover {
			background: var(--darker-purple);
		}
	}
}

#leave {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;

	button {
		width: 100%;
		background: var(--purple);
		color: var(--color);
		border: none;
		padding: 10px 0;
	}
	button:hover {
		background: var(--color);
		color: var(--purple);
	}
}

#msg-container {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	overflow-y: scroll;
	background: var(--bg);
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	.message {
		font-size: 0.8em;
		margin: 2px 0;
		max-width: 65%;
		color: var(--color);
		padding: 1px 10px;
		word-wrap: break-word;
		.sender {
			font-weight: bold;
		}
		span {
			font-weight: normal;
		}
	}

	.message.left {
		margin-left: 5%;
		align-self: flex-start;
		background: var(--light-purple);
		color: var(--medium-purple);
		border-left: 5px solid var(--medium-purple);
	}
	.message.right {
		margin-right: 5%;
		align-self: flex-end;
		background: var(--medium-purple);
		color: var(--light-purple);
		border-right: 5px solid var(--light-purple);
	}
	.message.center {
		font-size: 0.7em;
		text-align: center;
		align-self: center;
		background: var(--dark-purple);
		color: white;
		display: flex;
		.text {
			padding-left: 5px;
		}
	}
}

#msg-input {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	input {
		background: var(--pink-purple);
		color: var(--purple);
		border: none;
		padding: 10px;
		width: 90%;
	}

	button {
		width: 8%;
		background: var(--purple);
		color: var(--color);
		border: none;
		padding: 10px;
	}
	button:hover {
		background: var(--color);
		color: var(--purple);
		cursor: pointer;
	}
}

@media only screen and (max-width: 790px) {
	#app {
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 0.2fr;
	}
	#users-toggle {
		display: block;
		position: absolute;
		z-index: 1;
		width: 100%;
		button {
			width: 100%;
			background: var(--dark-purple);
			color: var(--color);
			border: none;
			padding: 10px;
		}
	}
	.users {
		z-index: 0;
		display: none;
		position: absolute;
		top: 30px;
		width: calc(100%);
		height: calc(100% - 70px);
		text-align: center;
	}
	#leave {
		display: none;
		position: relative;
	}
	#msg-container {
		margin-top: 25px;
		padding: 10px;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	#msg-input {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		input {
			width: 80%;
		}
		button {
			width: 20%;
		}
	}
}
